<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Quotes</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'quotes/css/style.css' %}">
</head>

<body>

	<div class="navbar">
		<div class="left">
			<p>Welcome {{ user.name }}!</p> <!-- quotes/templates/index.html -->
		</div>
		<div class="right">
			<p><a href="/logout">Logout</a></p> <!-- quotes/templates/index.html -->
		</div>
	</div>
	<div class="container"> <!-- main/templates/index.html --> <!-- quotes/templates/index.html -->
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="left"> <!-- quotes/templates/index.html -->
			<div class="scroller">
			<h2>Quoteable Quotes</h2>
			{% for quote in quotes %}
				<div class="quote">
					<p>{{ quote.author }}: {{ quote.quote }}</p>
					<div class="container">
						<div class="left">
							<p>Powered by <a href="/users/{{ quote.user.id }}">{{ quote.user.name }}</a></p>
						</div>
						<div class="right">
						<form action="/quotes/{{ quote.id }}/fav" method="get">
							{% csrf_token %}
							<input class="green" type="submit" value="Add to My List">
						</form>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="right"> <!-- quotes/templates/index.html -->
			<div class="scroller">
			<h2>Your Favorites</h2>
			{% for fav in favs %}
				<div class="quote">
					<p>{{ fav.author }}: {{ fav.quote }}</p>
					<div class="container">
						<div class="left">
							<p>Powered by <a href="/users/{{ fav.id }}">{{ fav.author }}</a></p>
						</div>
						<div class="right smallpadding">
						<form action="/quotes/{{ fav.id }}/unfav" method="get">
							{% csrf_token %}
							<input class="red" type="submit" value="Remove from My List">
						</form>
					</div>
				</div>
			{% endfor %}
			</div>
			<form action="/quotes/add" method="post">
				{% csrf_token %}
				<h2>Contribute a Quote</h2><br>
				<label for="author">Quoted By:</label>
				<input type="hidden" id="id" name="id" value="{{ request.session.id }}">
				<input type="text" id="author" name="author" value="{{ request.session.author }}"><br>
				<label for="quote">Quote:</label><br>
				<textarea id="quote" name="quote" rows="10" cols="50"></textarea>
				<div class="container">
					<div class="right smallpadding">
						<input class="blue" type="submit" value="Submit">
					</div>
				</div>			
			</form>
		</div>
	</div>

</body>
</html>